@namespace ComponentLibrary

<div style="width: 100vw; ">
    <h3>Demonstration Component</h3>
    <p>This is a demonstration component.</p>
    <p>It is a Razor component that is part of the ComponentLibrary project.</p>
    <p>It is being rendered in the Website project.</p>
    <p>The client project is being served by the Website.Server project.</p>
</div>
